.log{
    height: 100%;
    margin: 0em;
    overflow: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    zoom: 100%;
}

.sep{
    display: flex;
    font-family: sans-serif;  
    border-radius: 1cm;
    height: 100%;
    overflow-y: hidden;
    box-shadow: 7px 8px 16px 7px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;

}

.maain{
    height: 100%;
    border-radius: 2cm;
    overflow-y: auto;  
    
          
}

.main{
    margin-left: 8cm;
    margin-right: 8cm;
    margin-bottom: 2px;
    margin-top: 2px;
    font-family: sans-serif;
    border-radius: 1cm;
    height: 100%;
}

.heads{
    text-align: center;
}

.rform{
    margin-top: 0.5cm;
    margin-left: 1cm;
    margin-right: 1cm;
    height: 100%;
    flex-grow: 1;
    
}
.rrform{
    background-color: rgb(245, 237, 226);
    width: 50%;

}

.fimage{
    flex-grow: 1;
    width: 50%;
    height: inherit;

}

.maain input[type=text]{
    width: 100%;
    padding: 10px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.maain input[type=email]{
    width: 100%;
    padding: 10px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.maain input[type=number]{
    width: 100%;
    padding: 10px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.maain input[type=submit] {
    width: 50%;
    padding: 10px 10px;
    margin: 0px 0;
    display: inline-block;
    border-radius: 3px;
    margin-left:1.5cm;
    background-color: blueviolet;
    border: none;  
}
input[type=submit]:hover {
    background-color: rgb(99, 10, 172);
}

input[type=date] {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    margin: 8px 0;
    display: inline-block;
    border-radius: 3px;
}

input[type=password] {
    width: 50%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    margin: 8px 0;
    display: inline-block;
    border-radius: 3px;
}
.pass{
    display: flex;
    border: none;
    border-radius: 3px;
    
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    background-color: rgb(40, 219, 145);
}
.borderview input[type=password]{
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.borderview input[type=email]{
    width: 100%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.borderview input[type=submit]{
    width: 50%;
    padding: 10px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.displays input[type=text],input[type=password],input[type=submit]{
    width: 100%;
    padding: 10px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.lab{
    margin: 2cm;
}

.borderview{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;


}.mainform{
    margin: 3cm 13cm 1cm 13cm;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;


}
.detail{
    zoom: 100%;
    height: 100%;
}