<html>
<head>
    <title>
        Details
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
</head>
<body bgcolor="BAABDA">
<div class="borderview">
    <div class="mainform">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="inputs">
                <input type="text" class="inp" id="email" name="email" placeholder="Enter Email"><br>
                <input type="password" id="passwd" name="passwd" placeholder="Enter Password"><br>
                <br>
                <input type="submit" value="Login" id="submit" name="submit">
                {% if messages %}
                {% for message in messages %}
                <script>alert("{{ message }}");</script>
                {% endfor %}
                {% endif %}
            </div>
            <br>
            <div class="displays">
                {% for x in display %}
                <label ><u>Details</u></label><br>
                <label>Name:</label>
                <input type="text" value="{{x.name}}" name="name" disabled>
                <label>Email:</label>
                <input type="text" value="{{x.email}}" name="email" disabled>
                <label>Number:</label>
                <input type="text" value="{{x.num}}" name="num" disabled>
                <label>Parent Name:</label>
                <input type="text" value="{{x.pname}}" name="pname" disabled>
                <label>Pafrent Number:</label>
                <input type="text" value="{{x.pnum}}" name="pnum" disabled>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
</body>
</html>